In [1]:
import pandas as pd #para magamit pang access ng mga csv files etc
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
import joblib

In [2]:
# Load the dataset
data = pd.read_csv("D:/feelings.csv")
df = pd.DataFrame(data)

In [3]:
df.head(5) #silip sa data

   id category1 category2 category3                          recommendation
0   1      sick     happy      calm            Take a warm shower to relax.
1   2      sick     happy      calm  Read a good book to distract yourself.
2   3      sick     happy      calm              Watch your favorite movie.
3   4      sick     happy      calm        Try some herbal tea for comfort.
4   5      sick     happy      calm                Listen to calming music.

In [4]:
df = df.drop(["id"],axis=1) #dinrop unnecessary column para mas maluwag ung pagload sa data

df.head(5) #checking kung nawala ba ung inalis natin na column

  category1 category2 category3                          recommendation
0      sick     happy      calm            Take a warm shower to relax.
1      sick     happy      calm  Read a good book to distract yourself.
2      sick     happy      calm              Watch your favorite movie.
3      sick     happy      calm        Try some herbal tea for comfort.
4      sick     happy      calm                Listen to calming music.

In [5]:
print("Before dropping duplicates",df.shape) #para mabilang ung number of column and rows 
df = df.drop_duplicates() 
print("After dropping duplicates",df.shape)

Before dropping duplicates (270, 4)
After dropping duplicates (270, 4)

In [6]:
df.isna().sum() #chineck lang baka merong mga null values sa data natin

category1         0
category2         0
category3         0
recommendation    0
dtype: int64

In [7]:
expanded_df = df.copy()

In [8]:
# Encode each category
le_category1 = LabelEncoder()
le_category2 = LabelEncoder()
le_category3 = LabelEncoder()

expanded_df['category1_encoded'] = le_category1.fit_transform(expanded_df['category1'])
expanded_df['category2_encoded'] = le_category2.fit_transform(expanded_df['category2'])
expanded_df['category3_encoded'] = le_category3.fit_transform(expanded_df['category3'])

In [9]:
expanded_df.head(5)

,category1,category2,category3,recommendation,category1_encoded,category2_encoded,category3_encoded
0,sick,happy,calm,Take a warm shower to relax.,1,1,1
1,sick,happy,calm,Read a good book to distract yourself.,1,1,1
2,sick,happy,calm,Watch your favorite movie.,1,1,1
3,sick,happy,calm,Try some herbal tea for comfort.,1,1,1
4,sick,happy,calm,Listen to calming music.,1,1,1

In [10]:
# Prepare features and target
X = expanded_df[['category1_encoded', 'category2_encoded', 'category3_encoded']].values
y = expanded_df['recommendation']

In [11]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

from sklearn.metrics import accuracy_score,confusion_matrix

def evaluate_model(model):
    print("TRAIN ACCURACY: ", accuracy_score(y_train,model.predict(X_train)))
    print("TEST ACCURACY: ", accuracy_score(y_test,model.predict(X_test)))
    print(confusion_matrix(y_test,model.predict(X_test)))

In [12]:
model = RandomForestClassifier(max_depth=100,n_estimators=1000);
model.fit(X_train,y_train);
evaluate_model(model)

TRAIN ACCURACY:  0.125
TEST ACCURACY:  0.0
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [13]:
# Save the model and encoders
joblib.dump(model, 'category_model.pkl')
joblib.dump(le_category1, 'le_category1.pkl')
joblib.dump(le_category2, 'le_category2.pkl')
joblib.dump(le_category3, 'le_category3.pkl')

['le_category3.pkl']